# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole site, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.github_repo }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Data 100
tagline: Principles and Techniques of Data Science
description: "UC Berkeley Data 100: Principles and Techniques of Data Science"
author: Data 100 Staff

baseurl: '/sp26' # the subpath of your site, which should just be the semester.
url: 'https://ds100.org' # the hostname & protocol for your site, e.g. http://example.com

# Course variables
# Course variables can appear in various places around the website, if something isn't used leave it blank.
course: Data 100
course_email: data100.instructors@berkeley.edu 
comms_email: data100.support@berkeley.edu
gradescope_course_id: 123456 
bcourses_course_id: 1551658 
ed_course_id: 123456
semester: Spring 2026

course_logo_path: assets/branding/panda-logo.png
# This should be one of eecs, dsus, stat
course_department: dsus
class_archive_path: /

favicon_ico: "assets/branding/favicon.ico"

nav_external_links:
  - title: Course Notes
    url: https://ds100.org/course-notes/
    hide_icon: true
    aria_label: "Data 100 Course Notes"
  - title: Debugging Guide
    url: https://ds100.org/debugging-guide/
    hide_icon: true
    aria_label: "Data 100 Debugging Guide"
  - title: Course FAQs
    url: https://ds100.org/faqs/fa25/
    hide_icon: true

aux_links:
  Additional Accommodations Form: 
    - '' # TODO: Add link to Additional Accommodations Form
  Autograded Assignment Regrade Requests Form: 
    - 'https://forms.gle/br8ShTbU7HWw1ooQ9'
  # DataHub: 
  #   - 'http://data100.datahub.berkeley.edu/'
  # Debugging Guide:
  #   - 'https://ds100.org/debugging-guide/'
  # Course Notes:
  #   - 'https://ds100.org/course-notes/'
  # Ed:
  #   - 'https://edstem.org'
  # Pensieve:
  #   - 'https://www.pensieve.co/'

# TODO(template): These need to be documented
# TODO(semester): You may want to review these...
berkeley_theme_options:
  show_logo_in_sidebar: true

# TODO(template): Copy class information to the template.
google_calendar:
  # This can be found in the settings for the calendar.
  # The calendar must be publicly readable.
  google_calendar_id: c_3e137d19fbc539a2896ca72dc805875e570d93191fc3f63f2724877bc3504298@group.calendar.google.com
  # You need to make this, once per course, ideally via a SPA
  # TODO: Recommend adding link to Google cloud project here
  google_api_key: AIzaSyAiBGwl0ORSl9LVjHpixD9V6JUAsQUs45s
  # These are processed in order, top-to-bottom, first match applies
  # The prefix/suffix matches the Google Calendar event *title*
  # You may use only prefix OR suffix, see fullcalendar.js
  event_types:
    - suffix: Lecture
      background_color: '9FD1FF' # Blue light
      text_color: '000'
      class: cal-lecture
      icon: fa-school
    - suffix: Tea Hours
      background_color: 'FFE88D' # gold light
      text_color: '000'
      class: cal-tea-oh
      icon: fa-mug-hot
    - suffix: Faculty Office Hours
      background_color: 'FFC31B' # gold medium
      text_color: '000'
      class: cal-tea-oh
      icon: fa-person-circle-question
    - suffix: Office Hours
      background_color: 'D9CEFF' # purple light
      text_color: '000000'
      class: cal-oh
      icon: fa-person-circle-question
    - suffix: Tutoring Section
      background_color: 'FFCFE5' # rose light
      text_color: '000000'
      class: cal-tutoring
      icon: fa-people-group
    - suffix: Section
      background_color: '004AAE' # blue medium
      text_color: 'FFFFFF'
      class: cal-disc-section
      icon: fa-person-chalkboard
    - suffix: Exam
      background_color: 'FA8072' # salmon red
      text_color: '000000'
      class: cal-tutoring
      icon: fa-school

# Collections for website data
collections:
  staffers:
    sort_by: name
  calendars:
  announcements:
  labs:
    output: true
    permalink: /:collection/:path/
  lectures:
    output: true
    sort_by: number # Date could work...
    permalink: /lectures/:path/
  hw:
    output: true
    permalink: /:collection/:path/
  projects:
    output: true
    permalink: /:collection/:path/
  discussions:
    output: true
    permalink: /:collection/:path/

# The sitemap **must** be enabled. It's published as /baseurl/sitemap.xml
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-github-metadata
  - jekyll-include-cache
  - jekyll-jupyter-notebook

# Default layouts for each collection type
defaults:
  - scope:
      path: ''
      type: labs
    values:
      layout: lab
      nav_exclude: true
  - scope:
      path: ''
      type: discussions
    values:
      layout: discussion
      nav_exclude: true
      subpath: 'assets/discussions/'
  - scope:
      path: ''
      type: hw
    values:
      layout: hw
      nav_exclude: true
  - scope:
      path: ''
      type: projects
    values:
      layout: project
      nav_exclude: true
  - scope:
      path: '_staffers'
      type: staffers
    values:
      layout: staffer
      height: 300
      subpath: '/assets/images/staff_pics/'
      width: 300
  - scope:
      path: ''
      type: calendars
    values:
      layout: calendar
  - scope:
      path: ''
      type: announcements
    values:
      layout: announcement
  - scope:
      path: ''
      type: lectures
    values:
      layout: lecture
      time: 15:00 # Default release time of lectures is currently set to 12:00 AM 


######################################################################
# Just the Docs / Berkeley Class Site Common Config
# Options below here will likely not need to be configured..
######################################################################
# TODO(template): We should clean these up + standardize...
# TODO(setup): You may want to add additional
callouts_level: quiet # or loud
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red

# TODO(template): CSS compilations. Handle warnings...
sass:
  style: expanded
  sass_dir: _sass
  sourcemap: always
  quiet_deps: true
  verbose: false
  silence_deprecations: ["import"]

# Theme settings
theme: just-the-docs
search_enabled: true
heading_anchors: true
permalink: pretty

## Footer Content.
# You should probably not change these, but may add to footer_content if necessary.
# Replace `true` with any additional HTML that you would like to add.
# Footer *must* included the accessibility text defined in footer_custom.html
footer_content: true
back_to_top: true
back_to_top_text: "Back to Top"
last_edit_timestamp: true
last_edit_time_format: '%m %d, %Y at %H:%M'

# Compilation settings used by compress-html plugin:
# https://github.com/penibelst/jekyll-compress-html/tree/v3.2.0?tab=readme-ov-file
compress_html:
  clippings: all
  comments: all
  endings: all
  startings: []
  blanklines: false
  profile: false

# Native Jeykll build options
# You likely shouldn't need to touch these, but they are documented here just in case.
# https://jekyllrb.com/docs/configuration/options/

# This makes it easier when pushing to a static directory.
# The default false removes files in that directory, which is useful for when you unpublish pages.
# keep_files: false

# Set the timezone to ensure days appear correctly on the auto-generated schedule
# This fixed one-off problems with extra days (extra_days_col2) defined in _data/syllabus.yml
timezone: UTC
future: true

# Note: dotfiles are excluded by default. .htaccess is included as a common case.
include:
  - LICENSE
  - .htaccess
  - robots.txt

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - vendor/
  - README.md
  - CONTRIBUTING.md
  - tmp/
  - script/
  - spec/
  - node_modules/
